/* .hide-nav-button {
    display: none;
}

.nav-menu-container {
    background-color: #fff;
    border-bottom: 1px solid #c1c1c1;
    height: 50px;
    position: relative;
}

.nav-menu-container > div > #toggle-site-nav-button {
    position: absolute;
    left: 0;
}

.nav-menu-container > div > #toggle-page-nav-button {
    position: absolute;
    right: 0;
}

.nav-menu-container > div > .site-nav-menu,
.nav-menu-container > div > .page-nav-menu {
    padding-top: 50px;
}

.nav-menu-close-icon {
    background: #fff;
    position: fixed !important;
    top: 0;
    width: 100%;
}

.nav-menu-close-icon::before {
    content: "\e014" !important;
}

.nav-menu-open {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    max-width: 100% !important;
    background: #fff;
    height: 100%;
    max-height: 100% !important;
    clear: both;
} */
